---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import BaseTitle from '@/components/BaseTitle.astro';
import CardWrapper from "@/components/card/CardWrapper.astro";

const projects = (await getCollection('projects')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout title="Projects" description="Blog page">
	<BaseTitle>Projects</BaseTitle>

	<section class="flex flex-col gap-3">
		<CardWrapper items={projects}/>
	</section>
</BaseLayout>
