---
import ThemeButton from './ThemeButton.astro';
---

<div class="flex items-center gap-3">
	<ThemeButton key="light">light</ThemeButton>
	<ThemeButton key="dark">dark</ThemeButton>
</div>

<script>
	import { setTheme } from "@/utils/theme";
	import type {TTheme} from '@/types/theme';

	const saveTheme = localStorage.getItem('theme') as TTheme | null;
	const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
		? "dark"
		: "light";

	if (saveTheme) {
		setTheme(saveTheme);
	} else {
		setTheme(systemTheme);
	}
</script>
